.uploader-container {
    border: 1px solid #dee2e6;
    background-color: #fdfdfd;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
}


.custom-upload-btn {
    cursor: pointer;
    display: inline-block;
}

.file-item {
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.file-item:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.details {
    line-height: 1.4;
}

.progress-bar-custom {
    border-radius: 50px;
    background-color: #e2eafc;
}
