.bloked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Voile noir transparent */
    z-index: 9999;
    
    p {
        color: white;
        font-size: 1.2rem;
        margin-top: 2rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

/* Le nouveau loader CSS */
.loader {
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #ffffff; /* Couleur blanche */
    box-shadow: 
        calc(1*var(--d))      calc(0*var(--d))     0 0,
        calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d))      calc(1*var(--d))     0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d))     calc(0*var(--d))     0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
        calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% { transform: rotate(1turn); }
}

.text-fin {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 100 !important;
    letter-spacing: 1px;
    margin-top: 10px;
}
