<div>
    <h6>MISE EN OEUVRES DES PLANS D'ACTIONS</h6>
    <div class="overflow-auto">
        <ul class="flex flex-row md:flex-column gap-1 md:gap-2 list-none m-0 p-0 overflow-auto">
            <li pRipple *ngFor="let item of items; let i = index" class="cursor-pointer select-none p-3 transition-duration-150 border-round flex align-items-center justify-content-center md:justify-content-start md:flex-1 flex-auto"
                [ngClass]="{'bg-primary-50 shadow-1' : isActive(item), 'hover:surface-hover': !isActive(item)}" (click)="navigate(item)">
                <i [class]="item.icon || ''" class="md:mr-3 transition-duration-150 text-lg" [ngClass]="{'text-primary' : isActive(item), 'text-600': !isActive(item)}"></i>
                <span class="font-medium md:inline" [ngClass]="{'text-primary font-bold' : isActive(item), 'text-700': !isActive(item)}">{{item.label}}</span>
                <span *ngIf="item.badge" class="ml-auto text-sm font-semibold px-2 py-1 hidden md:inline" [ngClass]="{'bg-primary text-white': isActive(item), 'bg-primary-50 text-primary': !isActive(item)}" style="border-radius: 2rem;">{{item.badge}}</span>
            </li>
        </ul>
    </div>
</div>
