HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.env
*.iws
*.iml
*.ipr
.env

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

###################################
# CONFIGURATION LOCALE (SPRING)
###################################

# Fichiers application.yml locaux par microservice (NE PAS PUSH)
amelioration-service/src/main/resources/application.yml
api-gateway/src/main/resources/application.yml
contexte-service/src/main/resources/application.yml
evaluation-service/src/main/resources/application.yml
planification-service/src/main/resources/application.yml
realisation-service/src/main/resources/application.yml
referentiel-service/src/main/resources/application.yml
support-service/src/main/resources/application.yml
user-service/src/main/resources/application.yml
``
node_modules
