<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de votre mot de passe</title>
</head>
<body>
<h1>Bonjour,</h1>
<p>Nous avons reçu une demande pour réinitialiser votre mot de passe.</p>
<p>Cliquez sur le bouton ci-dessous pour définir un nouveau mot de passe :</p>
<table role="presentation" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="background-color:#007BFF;border-radius:5px;text-align:center;">
            <a th:href="@{${resetLink}}"
               style="display:inline-block;padding:10px 20px;color:#ffffff;text-decoration:none;">
                Réinitialiser mon mot de passe
            </a>
        </td>
    </tr>
</table>

<p>Si vous ne pouvez pas cliquer sur le bouton, utiliser ce lien :</p>
<p>[[${resetLink}]]</p>
<p>Si vous n'avez pas demandé cette action, vous pouvez ignorer cet e-mail.</p>
<p>Merci,<br>Quali Approche</p>
</body>
</html>
