<div class="card mb-0 pb-0">
    <div class="bg-surface-100 p-2 text-center">
    <div class="text-xl mb-2 font-bold">Configuration Globale du Système</div>
    <p>Paramètres généraux du système, notamment les informations du Responsable Qualité et les règles de relance automatique des non-conformités.</p>
    </div>
</div>

<div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
        <div class="card">

            <!-- Contenu du Formulaire -->
            <div class="max-w-3xl p-0 md:p-12 bg-surface-50">
                <form [formGroup]="configForm">
                    <div class="grid p-fluid gap-6">
                        
                        <!-- Section RQ -->
                        <div class="col-12">
                            <label class="font-semibold m-2">Nom du Responsable Qualité (RQ)</label>
                            <div class="field mb-2 mt-2">
                                <p-floatlabel variant="in" class="w-full">
                                    <input pInputText id="nomCompletRq" formControlName="nomCompletRq" autocomplete="off" class="w-full" />
                                    <label for="nomCompletRq">Nom complet <span class="text-red-500">*</span></label>
                                </p-floatlabel>
                                <small class="text-gray-400 mt-1 block">Prénom et Nom du responsable actuel</small>
                            </div>
                        </div>
                        

                        <div class="col-12">
                            <label class="font-semibold m-2">Adresse Email du Responsable Qualité (RQ)</label>
                            <div class="field mb-2 mt-2">
                                <p-floatlabel variant="in" class="w-full">
                                    <input pInputText id="emailRq" formControlName="emailRq" autocomplete="off" class="w-full" />
                                    <label for="emailRq">Adresse email <span class="text-red-500">*</span></label>
                                </p-floatlabel>
                                <small class="text-gray-400 mt-1 block">Email utilisé pour l'envoi des alertes système</small>
                            </div>
                        </div>

                        <!-- Section Délais -->
                        <div class="col-12">
                            <label class="font-semibold m-2">Paramètres de Rappel</label>
                            <div class="field mt-2">
                                <p-floatlabel variant="in" class="w-full">
                                    <p-inputNumber 
                                        id="rappelEcheance" 
                                        formControlName="rappelEcheance" 
                                        [showButtons]="true" 
                                        buttonLayout="stacked" 
                                        spinnerMode="vertical" 
                                        incrementButtonIcon="pi pi-angle-up" 
                                        decrementButtonIcon="pi pi-angle-down"
                                        class="w-full">                                    
                                    </p-inputNumber>
                                    <label for="rappelEcheance">Fréquence (en jours) <span class="text-red-500">*</span></label>
                                </p-floatlabel>
                                <small class="text-gray-400 mt-1 block">Nombre de jours avant l'échéance pour le premier rappel</small>
                            </div>
                        </div>

                        <!-- Actions -->
                        <div class="col-12 flex justify-end items-center gap-3 mt-6">
                            <p-button label="Annuler" severity="secondary" [text]="true" size="small" />
                            <p-button label="Enregistrer les modifications" 
                                    icon="pi pi-save" 
                                    severity="info"
                                    [disabled]="configForm.invalid" 
                                    [loading]="loading" 
                                    (click)="save()" 
                                    size="small" 
                                    styleClass="px-5 py-2.5 font-bold shadow-sm"></p-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2">
        <div class="card">
            <p-scrollpanel [style]="{ width: '100%', height: '500px' }" >
                <p class="font-bold border-b-1 border-gray-300 mb-1">Besoin d'aide pour configurer votre espace ?</p>
                <div class="mb-6">
                    <p>
                        Bienvenue dans les paramètres généraux de votre plateforme. Les choix que vous faites ici vont structurer le comportement et le langage de QualiSira pour l'ensemble de vos collaborateurs.
                    </p>
                    <ul class="font-semibold text-sm flex flex-col gap-1">
                        <li>1 - Soyez précis et factuel : Décrivez ce que vous observez de manière objective (dates, faits, données chiffrées).</li>
                        <li>2 - Documentez l'anomalie : Ajoutez des photos, des captures d'écran ou des rapports pour illustrer le problème.</li>
                        <li>3 - Indiquez l'urgence : Précisez le niveau et l'origine pour que le pilote du processus puisse qualifier l'événement rapidement.</li>
                        <li>4 - Enregistrez ou Publiez : Conservez votre saisie en brouillon si elle est incomplète, ou soumettez-la directement pour traitement.</li>
                    </ul>
                </div>
                <p-divider />
                <div class="my-6">
                    <p class="font-bold">Structure de l'entreprise : Adaptez le logiciel à votre culture</p>
                    <p>
                        C'est l'option la plus importante. Choisissez le vocabulaire qui correspond à votre organisation :
                    </p>
                    <ul class="font-semibold text-sm flex flex-col gap-1">
                        <li>
                            <b>Mode Processus (Recommandé ISO) :</b> Idéal si vous visez ou possédez une certification (ISO 9001, etc.). Vos menus et formulaires utiliseront les termes standards de la qualité : Cartographie, Processus et Pilotes.
                        </li>
                        <li><b>Mode Services (Recommandé PME) :</b> Idéal si vous souhaitez une gestion simple basée sur votre organigramme traditionnel. L'interface s'adaptera instantanément pour parler de Services, Départements et de leurs Responsables.</li>
                    </ul>
                    <br>
                    <i>Ne vous inquiétez pas, ce choix n'est pas figé ! Si votre entreprise grandit ou se lance dans une démarche de certification, vous pourrez basculer d'un mode à l'autre à tout moment sans perdre vos données.</i>
                </div>

                <p-divider />

                <div class="my-6">
                    <p class="font-bold">Gestion des relances (Rappel Échéance)</p>
                    <p>
                        Indiquez ici le nombre de jours d'anticipation souhaité pour vos alertes.
                    </p>
                    <ul class="font-semibold text-sm flex flex-col gap-1">
                        <li><b>Comment ça marche ?</b> Si vous écrivez 5, le système analysera chaque nuit vos plans d'actions et vos analyses de risques en cours. Il enverra automatiquement un email de relance bienveillant aux personnes concernées 5 jours avant la date limite pour éviter tout retard.</li>
                    </ul>
                </div>

                <p-divider />

                <div class="my-6">
                    <p class="font-bold">Contact Responsable Qualité (RQ)</p>
                    <p>
                       Renseignez le nom et l'adresse email de la personne en charge du pilotage global du système de management. C'est à cette adresse que le système enverra les notifications critiques, les alertes de sécurité ou les rapports de synthèse de la plateforme.
                    </p>
                </div>

            </p-scrollpanel>
        </div>
    </div>
</div>