.premium-input {
    @apply w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500 shadow-sm transition-all;
}

.premium-dropdown .p-select {
    @apply w-full p-2 border rounded-md shadow-sm;
}

.premium-number .p-inputnumber {
    @apply border border-gray-300 rounded-md px-2 py-2 shadow-sm w-full;
}

.field-container {
    @apply mb-2 bg-white p-2  ;
}

.animate-slide-in {
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    0% { transform: translateY(10px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
