<ng-container *ngIf="col.visible" [formGroup]="form">
    
    <span *ngIf="col.type == 'string' ">
        <div class="flex flex-col gap-2 mb-3">
            <label [for]="col.field">{{ col.header }}<span class="text-red-500 font-bold" *ngIf="col.required">*</span></label>
            <input pInputText class="w-full" [readonly]="col.readonly" [name]="col.field" [id]="col.field" pInputText type="text"
            [formControlName]="col.field" />
            <small [id]="col.field">{{ col.label }}</small>
        </div>
    </span>
    <span *ngIf="col.type == 'text' ">
        <div class="flex flex-col gap-2 mb-3">
            <label [for]="col.field">{{ col.header }}<span class="text-red-500 font-bold" *ngIf="col.required">*</span></label>
            <textarea pTextarea class="w-full" [id]="col.field"></textarea>
            <small [id]="col.field">{{ col.label }}</small>
        </div>
    </span>
    <span *ngIf="col.type == 'number' ">
        <div class="p-float-label">
            <p-inputNumber [name]="col.field" [id]="col.field" mode="decimal"
                           [showButtons]="true"
                           [readonly]="col.readonly"
                           [min]="0" [formControlName]="col.field">
            </p-inputNumber>
            <small [id]="col.field">{{ col.label }}</small>
             <label [htmlFor]="col.field" class="form-label font-bold">{{ col.header }}
                 <span class="text-red-500 font-bold" *ngIf="col.required">*</span>
            </label>
        </div>
    </span>

    <span *ngIf="col.type == 'float' ">
        <div class="p-float-label">
            <p-inputNumber [name]="col.field" [id]="col.field" mode="decimal"
                           [showButtons]="true"
                           [readonly]="col.readonly"
                           [min]="0" [formControlName]="col.field">
            </p-inputNumber>
             <label [htmlFor]="col.field" class="form-label font-bold">{{ col.header }}
                 <span class="text-red-500 font-bold" *ngIf="col.required">*</span>
            </label>
        </div>
    </span>
    <span *ngIf="col.type == 'boolean' ">
        <div class="form-check mt-3 mb-4">
                <p-checkbox [name]="col.field" [formControlName]="col.field" [binary]="true" [id]="col.field" />
                <label for="ny" class="ml-2">{{col.header}}</label>
        </div>
    </span>

    <span *ngIf="col.type == 'dropdown' ">
        <div class="p-float-label">
            <p-dropdown [options]="dropDownObject[col.field]"
                        [name]="col.field" appendTo="body"
                        [optionLabel]=""
                        [resetFilterOnHide]="true"
                        [filter]="true" [showClear]="true"
                        [formControlName]="col.field">
            </p-dropdown>
             <label [htmlFor]="col.field" class="form-label font-bold">{{ col.header }}
                 <span class="text-red-500 font-bold" *ngIf="col.required">*</span>
            </label>
        </div>
    </span>
    <span *ngIf="col.type == 'date' ">
        <div class="p-float-label">
            <p-calendar [showIcon]="true" [id]="col.field"
                        [formControlName]="col.field" appendTo="body"
                        [name]="col.field" dateFormat="dd/mm/yy" inputId="icon">
            </p-calendar>
             <label [htmlFor]="col.field" class="form-label font-bold">{{ col.header }}
                 <span class="text-red-500 font-bold" *ngIf="col.required">*</span>
            </label>
        </div>
    </span>
    <span *ngIf="col.type=='image'">
         <p-fileUpload
             (onSelect)="onFileSelected($event)"
             [showCancelButton]="false"
             chooseLabel="{{col.header}}"
             [showUploadButton]="false"
             accept="image/*"
         >
             <ng-template pTemplate="content">
             </ng-template>
         </p-fileUpload>
    </span>
    <span *ngIf="col.type=='file'">
         <p-fileUpload
             (onSelect)="onFileSelected($event)"
             [showCancelButton]="false"
             chooseLabel="{{col.header}}"
             [showUploadButton]="false"
             accept="application/*"
         >
             <ng-template pTemplate="content">
             </ng-template>
         </p-fileUpload>
    </span>
    <span *ngIf="col.type == 'multiselect' ">
        <div class="p-float-label">
            <p-multiSelect [id]="col.field" [options]="multiSelectObject[col.field]"
                           [optionLabel]="'label'" [dataKey]="col.key" [resetFilterOnHide]="true"
                           [formControlName]="col.field"
                           [appendTo]="'body'" [virtualScroll]="true" [itemSize]="34"
                           [filter]="true">
            </p-multiSelect>
            <label [htmlFor]="col.field" class="form-label font-bold">{{ col.header }}
                <span class="text-red-500 font-bold" *ngIf="col.required">*</span>
            </label>
        </div>
    </span>
</ng-container>
