<ng-container *ngIf="col.visible" [formGroup]="form">
    <div class="field-container animate-slide-in">

        <!-- Titre et obligatoire -->
        <label [for]="col.field" class="block text-sm font-bold text-gray-800 mb-1">
            {{ col.header }}
            <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
        </label>

        <!-- Input text -->
        <ng-container *ngIf="col.type === 'string'">
            <input pInputText
                   type="text"
                   [readonly]="col.readonly"
                   class="premium-input"
                   [formControlName]="col.field"
                   [id]="col.field"
                   [name]="col.field" />
        </ng-container>

        <!-- Textarea -->
        <ng-container *ngIf="col.type === 'text'">
      <textarea pTextarea
                rows="3"
                class="premium-input resize-none"
                [formControlName]="col.field"
                [id]="col.field"
                [name]="col.field"></textarea>
        </ng-container>

        <!-- Number -->
        <ng-container *ngIf="col.type === 'number' || col.type === 'float'">
            <p-inputNumber
                [showButtons]="true"
                [readonly]="col.readonly"
                [min]="0"
                mode="decimal"
                class="premium-number"
                [formControlName]="col.field"
                [id]="col.field"
                [name]="col.field">
            </p-inputNumber>
        </ng-container>

        <!-- Dropdown -->
        <ng-container *ngIf="col.type === 'dropdown'">
            <p-select [options]="dropDownObject[col.field]"
                      [filter]="true"
                      [showClear]="true"
                      appendTo="body"
                      [optionLabel]="'label'"
                      [optionValue]="'value'"
                      placeholder="Sélectionner une option"
                      [formControlName]="col.field"
                      class="w-full premium-dropdown"
                      [name]="col.field">
            </p-select>
        </ng-container>

        <!-- Checkbox -->
        <ng-container *ngIf="col.type === 'boolean'">
            <div class="flex items-center mt-2">
                <p-checkbox [binary]="true" [formControlName]="col.field" [id]="col.field"></p-checkbox>
                <label [for]="col.field" class="ml-2 text-gray-700">{{ col.header }}</label>
            </div>
        </ng-container>
        <ng-container *ngIf="col.type === 'multiselect'">
            <p-multiSelect
                [options]="multiSelectObject[col.field]"
                [filter]="true"
                appendTo="body"
                optionLabel="label"
                optionValue="value"
                [showClear]="true"
                [formControlName]="col.field"
                class="w-full premium-multiselect"
                [name]="col.field"
                display="chip"
                placeholder="Sélectionner les options">
            </p-multiSelect>
        </ng-container>

    </div>
</ng-container>
