<div class="flex flex-col gap-4 mt-4 ml-2">

    <!-- Ligne 1 -->
    <div class="flex flex-wrap gap-4">
        <!-- Colonne gauche -->
        <div class="flex flex-col gap-4 flex-1 min-w-[300px]">
            <!-- Détails de la non-conformité -->
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900">Détails de la non-conformité</span>
                <ul class="list-none p-0 m-0 text-600 space-y-3">
                    <li class="flex items-center mt-4"><span class="font-semibold ">Référence : </span><span class="flex-1" style="padding-left: 25px">{{demande.numeroReference }}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Processus Destinataire :</span><span class="flex-1"  style="padding-left: 25px">{{demande.origineService }}({{demande.origineServiceLibelleCourt }}) </span></li>
                    <li class="flex items-center"><span class="font-semibold ">Processus de soumission :</span><span class="flex-1"  style="padding-left: 25px">{{demande.structureSoumissionLibelle }}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Émetteur :</span><span class="flex-1"  style="padding-left: 25px">{{demande.currentUserfullName}}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Date de création :</span><span class="flex-1"  style="padding-left: 25px">{{demande.createdAt}}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Type de procéssus :</span><span class="flex-1"  style="padding-left: 25px">{{demande.typeProcessusLibelle}}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Type de non-conformité :</span><span class="flex-1"  style="padding-left: 25px">{{demande.typeNonConformiteLibelle}}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Type d'action :</span><span class="flex-1"  style="padding-left: 25px">{{demande.actionLibelle}}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Niveau de non-conformité :</span><span class="flex-1"  style="padding-left: 25px">{{demande.niveauNonConformiteLibelle}}</span></li>
                    <li class="flex items-center"><span class="font-semibold ">Origine de non-conformité :</span><span class="flex-1"  style="padding-left: 25px">{{demande.originNonConformiteLibelle}}</span></li>
                </ul>
            </div>

            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900">Validation par le pilote processus</span>
                <ul>
                    <li *ngIf="demande.pertinancePilote" class="flex items-center"><span class="font-semibold w-28">Pertinance:</span><span class="flex-1">{{demande.pertinancePilote}}</span></li>
                    <li *ngIf="demande.justificationPilote" class="flex items-center"><span class="font-semibold w-28">Justifications:</span><span class="flex-1" [innerHTML]="demande.justificationPilote"></span></li>
                </ul>
            </div>
        </div>

        <!-- Colonne droite -->
        <div class="flex flex-col gap-4 flex-1 min-w-[300px]">
            <!-- Description -->
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900">Description de la non-conformité</span>
                <div class="p-3 bg-gray-100 rounded"><p class="m-0 text-600">{{demande.justification || 'Aucune description fournie'}}</p></div>
            </div>
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900">Description des actions entreprises</span>
                <div class="p-3 bg-gray-100 rounded"><p class="m-0 text-600">{{demande.actionDsc || 'Aucune description fournie'}}</p></div>
            </div>



        </div>
    </div>

    <!-- Ligne 3 -->
    <div class="flex flex-wrap gap-4">
        <!-- Documents joints -->
        <div class="flex flex-col flex-1 min-w-[300px]" *ngIf="demande.fichiers?.length > 0">
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900">Documents joints</span>
                <div class="flex flex-col gap-2">
                    <div class="flex items-center gap-2">
                        <i class="pi pi-file"></i>
                        <span>{{ 'Document joint'}}</span>
                    </div>
                    <a href="javascript:void(0)" (click)="downloadFile(demande.fichiers)" class="text-primary">
                        <i class="pi pi-download"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Validation RS -->
        <div class="flex flex-col flex-1 min-w-[300px]">
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900" *ngIf="demande.pertinanceRs">Validation RS</span>
                <ul class="list-none p-0 m-0 text-600 space-y-3">
                    <li *ngIf="demande.pertinanceRs" class="flex items-center"><span class="font-semibold w-28">Pertinance:</span><span class="flex-1">{{demande.pertinanceRs}}</span></li>
                    <li *ngIf="demande.justificationRs" class="flex items-center"><span class="font-semibold w-28">Justifications:</span><span class="flex-1" [innerHTML]="demande.justificationRs"></span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card p-4" *ngIf="demande.numeroFdac">
        <span class="text-xl font-bold mb-3 text-900">Suivi du Responsable Management Qualité</span>
        <ul class="list-none p-0 m-0 text-600 space-y-3">
            <li class="flex items-center"><span class="font-semibold w-28">Pertinance:</span><span class="flex-1">{{demande.pertinanceRsSuivi || ''}}</span></li>
            <li class="flex items-center"><span class="font-semibold w-28">Numéro FEDAC:</span><span class="flex-1">{{demande.numeroFdac || ''}}</span></li>
            <li class="flex items-center"><span class="font-semibold w-28">Date:</span><span class="flex-1">{{demande.dateSuivi || ''}}</span></li>
        </ul>
    </div>
    <!-- Participants et Plans d'actions -->
    <div class="flex flex-col gap-4">
        <!-- Participants -->
        <div class="card p-4" *ngIf="demande.participants?.length > 0">
            <span class="text-xl font-bold mb-3 text-900">Participants</span>
            <div class="flex flex-wrap gap-3">
                <div *ngFor="let participant of demande.participants" class="participant-badge">
                    <i class="pi pi-user mr-2"></i>
                    <span>{{participant}}</span>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-1 ">
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900" *ngIf="demande.observationRejet" style="color: red">Motif de réjet </span>
                <ul class="list-none p-0 m-0 text-600 space-y-3">
                    <p>{{demande.observationRejet}}</p></ul>
            </div>
        </div>
        <!-- Plans d'actions -->
        <div class="card p-4" *ngIf="demande?.planActions.length>0">
            <span class="text-xl font-bold mb-3 text-900">Plans d'actions</span>
            <p-table [value]="demande.planActions" [rowHover]="true" styleClass="p-datatable-sm"
                     [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} éléments">
                <ng-template pTemplate="header">
                    <tr>
                        <th>N° ordre</th>
                        <th>Responsable</th>
                        <th>Date échéance</th>
                        <th>Statut</th>
                        <th *ngIf="demande.etatTraitement===EtapeTraitement.VALIDATION">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-plan>
                    <tr>
                        <td>{{plan.numeroOdre }}</td>
                        <td>{{plan.responsableNomComplet}}</td>
                        <td>{{plan.dateEcheance}}</td>
                        <td>{{plan.status}}</td>
                        <td >
                            <span *ngIf="demande.etatTraitement===EtapeTraitement.VALIDATION||demande.etatTraitement===EtapeTraitement.TRAITEMENT">
                            <button *ngIf="plan.status==='NON_TRAITER'" pRipple pButton type="button" icon="pi pi-pencil"
                                    (click)="edit(plan)"
                                     label="Modifier"></button></span>
                            <span>
                            <button pRipple pButton type="button" icon="pi pi-eye"
                                    class="p-button-secondary"
                                    (click)="affich(plan)"
                                    label="Détails"></button></span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7" class="text-center">Aucun plan d'action défini</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div><p-dialog
    header="Modification "
    [modal]="true"
    [(visible)]="motifRejetDialog"
    [style]="{ width: '48rem', height: 'auto' }"
    [maximizable]="false"
    [contentStyle]="{ padding: '1.5rem 2rem' }"
    [breakpoints]="{ '960px': '95vw' }"
    [draggable]="false">

    <ng-template #content>
        <div class="flex flex-row gap-4 align-items-start flex-wrap">
            <div class="flex-grow-1 w-full">
                <label for="numeroOdre" class="font-bold text-required block mb-2">
                    Numéro d'ordre
                </label>
                <input
                    pInputText
                    id="numeroOdre"
                    [(ngModel)]="planAction.numeroOdre"
                    type="number"
                    class="my-2 w-full p-2 border-1 surface-border border-round shadow-none"
                    [style]="{ width: '100%' }"

                />
            </div>
            <div class="flex-grow-1 w-full">
                <label for="motif" class="font-bold text-required block mb-2">
                    Numéro d'ordre
                </label>
                <p-dropdown

                    id="responsable"
                    [options]="users"
                    optionLabel="fullName" placeholder="Sélectionnez le responsable"
                    [filter]="true" [showClear]="true" appendTo="body"
                    [(ngModel)]="user"
                    class="my-2 w-full p-2 border-1 surface-border border-round shadow-none"
                    [style]="{ width: '100%' }" >

                </p-dropdown>

            </div>
            <div class="flex-grow-1 w-full">
                <label for="dateEcheance" class="font-bold text-required block mb-2">
                    Date d'échéance
                </label>
                <p-calendar
                    id="dateEcheance"
                    [showIcon]="true"
                    [(ngModel)]="planAction.dateEcheance"
                    placeholder="Date de l'échéance"
                    dateFormat="dd/mm/yy"
                    class="my-2 w-full p-2 border-1 surface-border border-round shadow-none"
                    [style]="{ width: '100%' }"
                ></p-calendar>

            </div>
        </div>

    </ng-template>

    <p-footer #footer>
        <div class="flex justify-content-end gap-3 pt-3" >
            <button type="button" pRipple pButton icon="pi pi-times-circle"
                    class="p-button-secondary position-left mr-3"
                    label="Quitter" (click)="hideDialog()">
            </button>
            <button pRipple pButton type="button" icon="pi pi-check"
                    class="p-button-primary position-left mr-3"
                    (click)="modifier()"
                    label="Modifier">
            </button>

        </div>
    </p-footer>
</p-dialog>
<p-dialog

    [header]="'Détails du plan action n°'+planAction.numeroOrdre "
    [modal]="true"
    [(visible)]="afficheDialog"
    [style]="{ width: '48rem', height: 'auto' }"
    [maximizable]="false"
    [contentStyle]="{ padding: '1.5rem 2rem' }"
    [breakpoints]="{ '960px': '95vw' }"
    [draggable]="false">

    <ng-template #content>
        <div class="card p-4">
            <span class="text-xl font-bold mb-3 text-900">Détails de la non-conformité</span>
            <ul class="list-none p-0 m-0 text-600 space-y-3">
                <li class="flex items-center mt-4"><span class="font-semibold ">N° Ordre : </span><span class="flex-1" style="padding-left: 25px">{{ planAction.numeroOdre }}</span></li>
                <li class="flex items-center"><span class="font-semibold ">Responsable :</span><span class="flex-1"  style="padding-left: 25px">{{planAction.responsableNomComplet  }}({{planAction.responsableEmail  }}) </span></li>
                <li class="flex items-center"><span class="font-semibold ">Date d'échéance :</span><span class="flex-1"  style="padding-left: 25px">{{planAction.dateEcheance | date:'dd-MM-yyyy' }}</span></li>

            </ul></div>
        <div class="flex flex-col gap-4 flex-1 ">
            <!-- Description -->
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900">Causes identifiées</span>
                <div class="p-3 "><p class="m-0 text-600">{{planAction.causeIdentifiees}}</p></div>
            </div>
            <div class="card p-4">
                <span class="text-xl font-bold mb-3 text-900">Solutions retenues</span>
                <div class="p-3 "><p class="m-0 text-600">{{planAction.solutionRetenues }}</p></div>
            </div>

        </div>
        <div class="flex flex-row gap-4 justify-content-between flex-wrap text-sm">

            <!-- Ligne 1 : Informations générales -->


            <!-- Ligne 3 : Pièces jointes -->
            <div class="flex flex-row gap-3 overflow-auto">
                <div class="surface-ground border-1 border-round shadow-sm p-4 min-w-30rem">
                    <h4 class="text-lg font-bold mb-3 text-primary">📎 Pièces jointes</h4>

                    <div *ngIf="planAction.fichiers?.length > 0" class="mb-3">
                        <button
                            type="button"
                            pButton
                            icon="pi pi-download"
                            label="Télécharger tous les fichiers"
                            class="p-button-success p-button-sm"
                            (click)="telechargerTout(planAction.fichiers)">
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </ng-template>


    <p-footer #footer>
        <div class="flex justify-content-end gap-3 pt-3" >
            <button type="button" pRipple pButton icon="pi pi-times-circle"
                    class="p-button-secondary position-left mr-3"
                    label="Quitter" (click)="hideDialogAffich()">
            </button>


        </div>
    </p-footer>
</p-dialog>


