<div class="h-screen flex flex-column bg-cover" style="background: url('assets/layout/images/pages/login-bg.jpg')">
    <div class="align-self-center mt-auto mb-auto">
        <form
            [formGroup]="newPasswordForm"
            (ngSubmit)="onResetPassword()"
            class="text-center z-5 flex flex-column border-1 border-round-md surface-border surface-card px-3">
            <div class="-mt-5 text-white bg-cyan-700 border-round-md mx-auto px-3 py-1 border-1 surface-border">
                <h2 class="m-0">NOUVEAU MOT DE PASSE</h2>
            </div>
            <h4>Définir un nouveau mot de passe</h4>
            <div class="w-full flex flex-column gap-3 px-3 pb-6">
                <!-- Nouveau mot de passe -->
                <input
                    id="password"
                    type="password"
                    class="w-full"
                    pInputText
                    placeholder="Nouveau mot de passe"
                    formControlName="password"
                />
                <div
                    *ngIf="
                        newPasswordForm.get('password')?.touched &&
                        newPasswordForm.get('password')?.errors?.['minlength']
                    "
                    class="error">
                    Le mot de passe doit contenir au moins 8 caractères.
                </div>

                <!-- Confirmation du mot de passe -->
                <input
                    id="confirmPassword"
                    type="password"
                    class="w-full"
                    pInputText
                    placeholder="Confirmez le mot de passe"
                    formControlName="confirmPassword"
                />
                <div *ngIf="newPasswordForm.hasError('passwordMismatch')" class="error">
                    Les mots de passe ne correspondent pas.
                </div>

                <!-- Message d'erreur général -->
                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

                <!-- Bouton de soumission -->
                <button
                    type="submit"
                    pButton
                    pRipple
                    class="w-full my-3 px-3"
                    label="RÉINITIALISER"
                    [disabled]="newPasswordForm.invalid">
                </button>
            </div>
        </form>
    </div>
</div>
