<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <h2>NOUVEAU MOT DE PASSE</h2>
        </div>

        <form [formGroup]="newPasswordForm" (ngSubmit)="onResetPassword()" class="login-form">
            <h4>Définir un nouveau mot de passe</h4>

            <!-- Nouveau mot de passe -->
            <p-password id="password" formControlName="password" [feedback]="false" placeholder="Nouveau mot de passe"></p-password>
            <small *ngIf="newPasswordForm.get('password')?.touched && newPasswordForm.get('password')?.errors?.['minlength']" class="error">
                Le mot de passe doit contenir au moins 8 caractères.
            </small>

            <!-- Confirmation du mot de passe -->
            <p-password id="confirmPassword" formControlName="confirmPassword" [feedback]="false" placeholder="Confirmez le mot de passe"></p-password>
            <small *ngIf="newPasswordForm.hasError('passwordMismatch')" class="error">
                Les mots de passe ne correspondent pas.
            </small>

            <!-- Message d'erreur général -->
            <small *ngIf="errorMessage" class="error">{{ errorMessage }}</small>

            <!-- Bouton de soumission -->
            <button type="submit" pButton pRipple label="RÉINITIALISER" [disabled]="newPasswordForm.invalid"></button>
        </form>
    </div>
</div>
