:host::ng-deep {
    .p-datatable .p-datatable-header {
        padding: 0 !important;
    }

    .p-datatable-sm {
        .p-datatable-thead > tr > th {
            padding: 0.5rem 0.5rem !important;
            font-size: 12px !important;
        }

        .p-datatable-tbody > tr > td {
            padding: 0.4rem 0.5rem !important;
            font-size: 12px !important;
        }
    }

    .p-toolbar {
        padding: 0.5rem 1rem;
        min-height: auto;
        border: none !important;
    }

    .p-badge {
        font-weight: 500;
        border-radius: 50px;
        font-size: 11px;
    }

.titre-pop {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color) ! important;
    margin-bottom: 0;
}

    .p-dialog .p-dialog-header {
        padding: 1.5rem 1.5rem 1.5rem 2.4rem;
    }

    p-confirmDialog {
        .p-confirm-dialog {
            .p-dialog-content {
                font-weight: bold;
                padding-top: 1.2em;
                color: #FF0000FF;
                font-size: 1.3rem;
            }
        }
    }
}
.rejet{
    color: #f36464;
    font-size:16px;
    margin-left:5px;

}
.text-danger{ color: #f36464;
}


.titre-content, .p-datatable-sortable-column {
    font-weight: 500;
    font-size: 13px;
}