<div class="card mb-0 pb-0">
    <div class="bg-surface-100 p-2 text-center">
    <div class="text-xl mb-2 font-bold">Gestion des utilisateurs</div>
    <p>Ajoutez ou modifiez les utilisateurs habilités à utiliser la plateforme, et définissez leurs accès.</p>
    </div>
</div>
<app-crud-generic
    [dialogWidth]="'40rem'"
    [addButtonLabel]="'Nouvel utilisateur'"
    [pageLabel]="pageLabel"
    [tableCols]="tableCols"
    [listeObject]="dataList"
    [formGroup]="formGroup"
    [formCols]="formCols"
    [loading]="loading"
    [closeDialog]="closeDialog"
    [formHeader]="formHeader"
    [dropdownList]="dropdownList"
    [multiSelectList]="multiSelectList"
    [customButtons]="customButtons"
    (customActionEvent)="handleCustomAction($event)"
    (newItemEvent)="onSave($event)"
    [notDelete]="true"
    [totalElements]="totalElements"
    [isPagination]="false"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    (pageChangeEvent)="onPageChange($event)"
    >
</app-crud-generic>

