<app-crud-generic
    [dialogWidth]="'50rem'"
    [addButtonLabel]="'Nouvel utilisateur'"
    [pageLabel]="pageLabel"
    [tableCols]="tableCols"
    [listeObject]="dataList"
    [formGroup]="formGroup"
    [formCols]="formCols"
    [loading]="loading"
    [closeDialog]="closeDialog"
    [formHeader]="formHeader"
    [dropdownList]="dropdownList"
    [multiSelectList]="multiSelectList"
    [customButtons]="customButtons"
    (customActionEvent)="handleCustomAction($event)"
    (newItemEvent)="onSave($event)"
    [notDelete]="true">
</app-crud-generic>
