
    <h3 class="m-2">{{ title }} </h3>
    <form autocomplete="off" role="form" class="mt-3 ml-2">
        <div class="grid">
            @for (col of cols; track col) {
                <div class="grid col-12">
                    <div class="col-4 md:col-4 sm:col-12">
                        <div class="text-left font-bold text-[#0084ca] uppercase dark:text-[#ffffff] mb-2">{{ col.header }} :</div>
                    </div>
                    <div class="col-8 md:col-8 sm:col-12">
                        <div class="text-left text-uppercase whitespace-normal break-words max-w-md" [innerHTML]="rowData[col.field]">
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <p-divider />
                </div>
            }
        </div>
    </form>

