<!-- Alerte Brouillons (Agent / Utilisateur) -->
<div *ngIf="isAgent && countBrouillon > 0" class="mb-2">
    <p-message closable severity="warn" size="small">
        <div class="">
            <div class="flex align-items-center font-semibold">
                <i class="pi pi-pencil mr-2"></i>
                <span>Brouillons en cours</span>
            </div>
            <p class="text-sm mt-2">
                Vous avez {{ countBrouillon }} Non-conformité(s) en attente de finalisation.
            </p>
        </div>
    </p-message>
</div>

<!-- Alerte NC de Service (Chef de service) -->
<div *ngIf="isChef && countPubliees > 0" class="mb-2">
    <p-message closable severity="warn" size="small">
        <div class="">
            <div class="flex align-items-center font-semibold">
                <i class="pi pi-users mr-2"></i>
                <span>Non-conformités de votre service</span>
            </div>
            <p class="text-sm mt-2">
                Votre service a {{ countPubliees }} NC publiées en attente de validation.
            </p>
        </div>
    </p-message>
</div>

<!-- Alerte Imputations (Actions pour l'utilisateur connecté) -->
<div *ngIf="countImputees > 0" class="mb-2">
    <p-message closable severity="error" size="small">
        <div class="">
            <div class="flex align-items-center font-semibold">
                <i class="pi pi-exclamation-circle mr-2"></i>
                <span>Actions à traiter</span>
            </div>
            <p class="text-sm mt-2 font-bold">
                Vous avez {{ countImputees }} NC qui vous sont imputées pour traitement.
            </p>
        </div>
    </p-message>
</div>

<!-- Alerte Validation RS (Admin / RQ) -->
<div *ngIf="isAdmin && countEnAttenteValidation > 0" class="mb-2">
    <p-message closable severity="warn" size="small">
        <div class="">
            <div class="flex align-items-center font-semibold">
                <i class="pi pi-shield mr-2"></i>
                <span>Validation Globale</span>
            </div>
            <p class="text-sm mt-2">
                Il y a {{ countEnAttenteValidation }} NC en attente de validation finale au niveau global.
            </p>
        </div>
    </p-message>
</div>
