<div class="h-screen flex flex-column bg-cover" style="background: url('assets/images/login-bg.jpg'); background-size: cover;">
    <div class="part-left">
        <div class="part-left-content">
            <h1>QualiTech - Gestions de la qualité</h1>
            <p>
            Bienvenue sur <strong>QualiTech</strong>, votre plateforme dédiée à la gestion efficace de la qualité.
            Suivez et pilotez vos audits, non-conformités, actions correctives, fournisseurs, formations, risques
            et bien plus encore… tout cela dans une seule et même interface intuitive.
            </p>
            <p>
            Simplifiez la conformité, optimisez vos processus, et renforcez l'excellence opérationnelle de votre organisation.
            </p>
        </div>
    </div>
    <div class="part-right">
        <div class="part-right-content">
            <p-card>
                <!-- Écran de connexion -->
                <form *ngIf="!isResetScreen && !isConfirmationScreen" [formGroup]="loginForm" (ngSubmit)="onLogin()" class="text-center z-5 flex flex-column border-1 border-round-md surface-border surface-card px-3">
                    <div class="-mt-5 text-white bg-custom border-round-md mx-auto px-3 py-1 border-1 surface-border">
                        <h2 class="m-0">CONNEXION</h2>
                    </div>
                    <h4>Bienvenue</h4>
                    <div class="text-color-secondary mb-6 px-6">
                        Veuillez utiliser le formulaire pour vous connecter à la plateforme
                    </div>
                    <div class="w-96">
                        <div class="flex flex-col gap-2 text-left mb-4">
                            <label for="username">Adresse e-mail</label>
                            <input pInputText id="username" type="email" aria-describedby="username-help" placeholder="Email" formControlName="username" />
                            <small id="username-help">Entrez votre adresse email.</small>
                            <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
                                Adresse e-mail requise.
                            </div>
                        </div>

                        <div class="flex flex-col gap-2 text-left">
                            <label for="username">Mot de passe</label>
                            <input id="password" type="password" class="w-full" pInputText placeholder="Password" formControlName="password" />
                            <small id="username-help">Entrez votre mot de passe.</small>
                            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                                Mot de passe requis.
                            </div>
                        </div>

                        <div class="flex flex-col gap-2 text-left">
                            <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                            <button type="submit" pButton pRipple class="w-full my-3 px-3" label="CONNEXION" [disabled]="loginForm.invalid"></button>
                            <button type="button" pButton pRipple class="w-full p-button-text text-primary-500" label="Mot de passe oublié?" (click)="toggleScreen()"></button>
                        </div>

                        <!-- <span class="p-input-icon-left">
                            <i class="pi pi-envelope"></i>
                            <input id="username" type="text" class="w-full" pInputText placeholder="Adresse e-mail" formControlName="username" />
                        </span>
                        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
                            Adresse e-mail requise.
                        </div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-key"></i>
                            <input id="password" type="password" class="w-full" pInputText placeholder="Mot de passe" formControlName="password" />
                        </span>
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                            Mot de passe requis.
                        </div>
                        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                        <button type="submit" pButton pRipple class="w-full my-3 px-3" label="CONNEXION" [disabled]="loginForm.invalid"></button>
                        <button type="button" pButton pRipple class="w-full p-button-text text-primary-500" label="Mot de passe oublié?" (click)="toggleScreen()"></button> -->
                    </div>
                </form>
        
                <!-- Écran de réinitialisation -->
                <form *ngIf="isResetScreen" [formGroup]="resetForm" (ngSubmit)="initiatePasswordReset()" class="text-center z-5 flex flex-column border-1 border-round-md surface-border surface-card px-6" style="max-width: 500px; min-width: 400px;">
                    <div class="-mt-5 text-white bg-cyan-700 border-round-md mx-auto px-3 py-1 border-1 surface-border">
                        <h2 class="m-0">REINITIALISATION</h2>
                    </div>
                    <div class="text-color-secondary mb-6 px-6">
                        Veuillez entrer votre email
                    </div>
                    <div class="w-full flex flex-column gap-3 px-3 pb-6">
                        <span class="p-input-icon-left">
                            <i class="pi pi-envelope"></i>
                            <input id="email" type="text" class="w-full" pInputText placeholder="Adresse e-mail" formControlName="email" />
                        </span>
                        <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched" class="error">
                            Adresse e-mail requise.
                        </div>
                        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                        <button type="submit" pButton pRipple class="w-full my-3 px-3" label="Envoyer" [disabled]="resetForm.invalid"></button>
                        <button type="button" pButton pRipple class="w-full p-button-text text-primary-500" label="Retour à la connexion" (click)="retour()"></button>
                    </div>
                </form>
        
                <form *ngIf="isConfirmationScreen"  class="text-center z-5 flex flex-column border-1 border-round-md surface-border surface-card px-6" style="max-width: 500px; min-width: 400px;">
                    <div class="-mt-5 text-white bg-cyan-700 border-round-md mx-auto px-3 py-1 border-1 surface-border">
                        <h2 class="m-0">CONFIRMATION</h2>
                    </div>
                    <div class="text-color-secondary mb-6 px-6" style="margin-top: 5px">
                        Un e-mail de réinitialisation a été envoyé. Veuillez vérifier votre boîte de réception et suivre les instructions pour réinitialiser votre mot de passe.
                    </div>
                    <div class="w-full flex flex-column gap-3 px-3 pb-6">
        
                        <button type="button" pButton pRipple class="w-full p-button-text text-primary-500" label="Retour à la connexion" (click)="retour()"></button>
                    </div>
                </form>
            </p-card>
        </div>

    </div>
</div>



