<!-- <div *ngIf="publishedList.length > 0"> -->
<app-nc-table 
    [brouillonData]="publishedList"
    [cols]="cols"
    [colDetails]="colsDetail"
    [loading]="loading"
    [balanceFrozen]="true" 
    [status]="NonConformStatus.PUBLISHED"
    (archive)="archive($event)"
    [totalElements]="totalElements"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    (pageChangeEvent)="onPageChange($event)"
    (delete)="delete($event)">
</app-nc-table>
<!-- </div> -->

<div *ngIf="publishedList.length === 0 && !loading" 
      class="flex flex-col items-center justify-center p-4 mt-2 bg-surface-0 dark:bg-surface-900 text-center">
    
    <img src="assets/images/empty.svg" 
          alt="Aucune affectation" 
          class="w-[200px] h-auto mb-6 opacity-60 transition-all duration-300 hover:opacity-80 hover:grayscale-0" 
          style="filter: grayscale(100%);">
    
    <!-- Titre accrocheur -->
    <h3 class="text-2xl font-bold text-surface-900 dark:text-surface-50 mb-3">
        Aucune Non-Conformité publiée
    </h3>
    
    <p class="text-surface-500 dark:text-surface-400 max-w-2xl leading-relaxed text-lg mb-0 mx-auto">
        Aucune non-conformité publiée à ce jour.
    </p>

</div>