<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre nouveau mot de passe temporaire</title>
</head>
<body>
<h1>Bonjour,</h1>
<p>Votre mot de passe a été réinitialisé avec succès.</p>
<p>Voici votre nouveau mot de passe temporaire :</p>
<p style="font-size:20px;font-weight:bold;">[[${temporaryPassword}]]</p>
<p>Nous vous recommandons de le changer dès que possible pour garantir la sécurité de votre compte.</p>
<p>Cliquez sur le bouton ci-dessous pour vous connecter :</p>
<table role="presentation" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="background-color:#007BFF;border-radius:5px;text-align:center;">
            <a th:href="@{${url}}"
               style="display:inline-block;padding:10px 20px;color:#ffffff;text-decoration:none;">
                Aller à la page de connexion
            </a>
        </td>
    </tr>
</table>
<p>Si vous ne pouvez pas cliquer sur le bouton, utilisez le lien :</p>
<p>[[${url}]]</p>
<p>Merci,<br>Quali Approche</p>
</body>
</html>
