.ng-badge {
    padding: 0.2em 0.5em;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: bold;
}

.ng-badge.success {
    background-color: #4caf50;
    color: var(--text-color);
}

.ng-badge.warning {
    background-color: #ff9800;
    color: var(--text-color);
}

.ng-badge.info {
    background-color: #2196f3;
    color: var(--text-color);
}

tr {
    height: 50px;
}

td {
    vertical-align: middle;
}

.custom-spacing-table td:first-child {
    padding-right: 20px;
    text-align: left;
}

.custom-spacing-table td {
    padding: 8px;
}

:host ::ng-deep {
    .p-datatable {
        .p-datatable-thead > tr > th {
            background: var(--surface-hover) !important;
            color: var(--text-color) !important;
            font-size: 0.8rem !important;
            text-transform: uppercase !important;
            letter-spacing: 0.025em !important;
            padding: 1rem 0.75rem !important;
            border-bottom: 1px solid var(--surface-border)!important;
            font-weight: 600 !important;
            transition: background-color 0.2s;

            &:hover {
                background: var(--surface-hover) !important;
            }

            .p-icon{
                height: 10px !important;
                width: 10px !important;
                size: 10px !important;
            }
        }

        .p-datatable-tbody > tr {
            transition: background-color 0.2s;
            &:hover {
                background-color: var(--surface-hover) !important;
            }
            
            td {
                padding: 0.75rem !important;
                border-color: var(--text-color) !important;
            }
        }
    }

    // Styles pour le menu d'actions (ellipsis)
    .p-menu {
        border-radius: 8px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        padding: 0.5rem 0;

        .p-menuitem-link {
            padding: 0.75rem 1rem;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--surface-hover);
            }

            .p-menuitem-icon {
                color: #64748b;
                margin-right: 0.75rem;
            }

            .p-menuitem-text {
                color: #334155;
                font-weight: 500;
            }
        }

        // Style spécifique pour l'action de suppression
        .text-red-500 {
            .p-menuitem-link {
                .p-menuitem-icon, .p-menuitem-text {
                    color: #ef4444 !important;
                }
                &:hover {
                    background-color: var(--surface-hover);
                }
            }
        }
    }
}
