<div class="shadow-1">
    <form [formGroup]="editForm!" autocomplete="off" role="form">
        <div class="grid p-fluid mt-2">
            <!-- Première section - 2 colonnes -->
            <div class="col-12">
                <span class="drawer-subtitle">Informations {{ typeStructure === TypeStructure.SERVICE ? 'du service' : 'de la direction' }}</span> <br>
                <span class="drawer-subtitle-content">Veuillez renseigner les informations ci-dessous pour définir l'identité de l'entité. Les champs marqués d'un astérisque (*) sont obligatoires.</span>
                <hr>
            </div>

            <div class="grid nested-grid">
                <!-- Colonne gauche -->
                 <div class="col-12 md:col-6">
                    <div class="drawer-field flex flex-column gap-4 mb-4">
                        <p-floatlabel variant="on" class="w-full block">
                            <input pInputText id="libelleCourt" formControlName="libelleCourt" autocomplete="off" class="w-full" />
                            <label for="libelleCourt">Sigle</label>
                        </p-floatlabel>

                        <p-floatlabel variant="on" class="w-full block">
                            <p-select formControlName="region" 
                                    emptyMessage="Aucune donnée disponible"
                                    emptyFilterMessage="Aucun résultat trouvé"
                                    appendTo="body"
                                    [resetFilterOnHide]="true"
                                    [showClear]="true"
                                    [filter]="true"
                            inputId="region" [options]="REGION_LIST" styleClass="w-full" class="w-full" variant="filled" />
                            <label for="region">Région</label>
                        </p-floatlabel>
                    </div>
                </div>
                    <!-- <div class="field mt-4">
                        <label for="region" class="font-bold text-required block mb-1">Région</label>
                        <p-select [options]="REGION_LIST" id="region"
                                    emptyMessage="Aucune donnée disponible"
                                    emptyFilterMessage="Aucun résultat trouvé"
                                    appendTo="body"
                                    formControlName="region"
                                    [resetFilterOnHide]="true"
                                    [showClear]="true"
                                    [filter]="true"
                                    class="w-full">
                        </p-select>
                    </div> -->

                <!-- Colonne droite -->
                <div class="col-12 md:col-6">
                    <div class="drawer-field flex flex-column gap-4 mb-4">
                        <p-floatlabel variant="on" class="w-full block">
                            <input pInputText id="libelleLong" formControlName="libelleLong" autocomplete="off" class="w-full" />
                            <label for="libelleLong">Libellé</label>
                        </p-floatlabel>

                        <p-floatlabel variant="on" class="w-full block">
                            <input pInputText id="ville" formControlName="ville" autocomplete="off" class="w-full" />
                            <label for="ville">Ville</label>
                        </p-floatlabel>
                    </div>
                </div>
            </div>

            <!-- Deuxième section - 2 colonnes -->
            <div class="col-12 mt-2">
                <hr>
                <div class="col-12 text-left">
                    <span class="drawer-subtitle">Autres Informations</span>
                </div>
                <hr>
            </div>

            <div class="grid nested-grid">
                <!-- Colonne gauche -->
                 <div class="col-12 md:col-6">
                    <div class="drawer-field flex flex-column gap-4 mb-4">
                        <p-floatlabel variant="on" class="w-full block">
                            <input pInputText id="titreAutoriteSignataire" formControlName="titreAutoriteSignataire" autocomplete="off" class="w-full" />
                            <label for="titreAutoriteSignataire">Titre Autorité Signataire</label>
                        </p-floatlabel>
                        
                        <p-floatlabel variant="on" class="w-full block">
                            <input pInputText id="titreHonorifiqueSignataire" formControlName="titreHonorifiqueSignataire" autocomplete="off" class="w-full" />
                            <label for="titreHonorifiqueSignataire">Titre Honorifique Signataire</label>
                        </p-floatlabel>
                        
                    
                    
                    </div>

                        
                        <!-- <label for="titreHonorifiqueSignataire" class="font-bold block mb-1">Titre Honorifique Signataire</label>
                        <input id="titreHonorifiqueSignataire" type="text" pInputText formControlName="titreHonorifiqueSignataire" class="w-full"/> -->
                    
                </div>

                <!-- Colonne droite -->
                <div class="col-12 md:col-6">
                    <div class="drawer-field flex flex-column gap-4 mb-4">
                        <p-floatlabel variant="on" class="w-full block">
                            <input pInputText id="autoriteSignataire" formControlName="autoriteSignataire" autocomplete="off" class="w-full" />
                            <label for="autoriteSignataire">Autorité Signataire</label>
                        </p-floatlabel>
                        
                        <p-floatlabel variant="on" class="w-full block">
                            <input pInputText id="email" formControlName="email" autocomplete="off" class="w-full" />
                            <label for="email">Email autorité signataire</label>
                        </p-floatlabel>
                    
                    </div>

                       
                        <!-- <label for="email" class="font-bold text-required block mb-1">Email autorité signataire</label>
                        <input id="email" type="text" pInputText formControlName="email" class="w-full"/> -->
                    
                </div>
            </div>

            <!-- Zone de texte pleine largeur -->
                <!-- <div class="field">
                    <label for="description" class="font-bold block mb-1">Description</label>
                    <textarea id="description" pInputTextarea formControlName="description"
                              rows="5" class="w-full"></textarea>
                </div> -->

            <!-- Zone de texte pleine largeur (Éditeur de texte) -->
            <div class="col-12 mt-4">
                <div class="field">
                    <div class="col-12 text-left mb-2">
                        <span class="drawer-subtitle">Description</span>
                    </div>
                    <!-- <label for="description" class="drawer-subtitle">Description</label> -->
                    
                    <p-editor id="description" formControlName="description" [style]="{ height: '70px' }">
                        <!-- <ng-template #header>
                            <span class="ql-formats">
                                <button type="button" class="ql-bold" aria-label="Gras"></button>
                                <button type="button" class="ql-italic" aria-label="Italique"></button>
                                <button type="button" class="ql-underline" aria-label="Souligné"></button>
                            </span>
                        </ng-template> -->
                    </p-editor>
                    
                </div>
            </div>

        </div>
    </form>
</div>
