<p-dialog
    header="❌ Réjet de la demande"
    [modal]="true"
    [(visible)]="motifRejetDialog"
    [style]="{ width: '48rem', height: 'auto' }"
    [maximizable]="false"
    [contentStyle]="{ padding: '1.5rem 2rem' }"
    [breakpoints]="{ '960px': '95vw' }"
    [draggable]="false">

    <ng-template #content>
        <div class="flex flex-row gap-4 align-items-start flex-wrap">
            <div class="flex-grow-1 w-full">
                <label for="motif" class="font-bold text-required block mb-2">
                    Veuillez spécifier le motif
                </label>
                <textarea
                    id="motif"
                    rows="7"
                    pInputTextarea
                    [(ngModel)]="rejet"
                    [autoResize]="true"
                    class="my-2 w-full p-2 border-1 surface-border border-round shadow-none"
                    [style]="{ width: '100%' }">
        </textarea>
            </div>
            <div class="mb-3">
                <app-file-upload (fileUploaded)="handleFileUpload($event)"></app-file-upload></div>
        </div>

    </ng-template>

    <p-footer #footer>
        <div class="flex justify-content-end gap-3 pt-3" *ngIf="!isSummited">
            <button type="button" pRipple pButton icon="pi pi-times-circle"
                    class="p-button-secondary position-left mr-3"
                    label="Quitter" (click)="hideDialog()">
            </button>
            <button pRipple pButton type="button" icon="pi pi-check"
                    class="p-button-primary position-left mr-3"
                    [disabled]="!rejet"
                    (click)="rejetDemande()" label="Réjeter">
            </button>

        </div>
    </p-footer>
</p-dialog>
